AdvDistribution.zip
AdvDistribution/*
StandDistribution.zip
StandDistribution/*
nddiss.zip
nddiss/*
*.aux
*.dvi
*.glo
*.gls
*.ilg
*.lof
*.log
*.lot
*.out
*.toc
template.tex
nddiss2e.cls
nddiss2e.pdf
template.pdf
example/example.pdf
*.DS_Store
