AdvDistribution.zip
AdvDistribution/*
StandDistribution.zip
StandDistribution/*
nddiss.zip
nddiss/*
*.aux
*.dvi
*.glo
*.gls
*.ilg
*.lof
*.log
*.lot
*.out
*.swp
*.toc
*.xmpi
template.pdf
example/example.pdf
*.DS_Store
